# Django Settings
SECRET_KEY=your-placeholder-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Settings (For PostgreSQL)
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432


# find out the secret key from this cmd and replace with line no 2....python3 -c 'import secrets; print(secrets.token_urlsafe(50))'
